
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>




<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Posted by</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "comment", collection: @posted_comments , locals: { post_id: @post.id } %>
  </tbody>
</table>



<%= form_with(model: [@post, @post.comments.build], url: post_comments_path(@post)) do |form| %>
  <%= form.text_area :content, placeholder: 'Enter your comment' %>
  <%= form.submit 'Add Comment' %>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
